doctype html
html(lang="en")
    head
        title Met Us - Meetup.com Growth
        meta(name='description' content='Visualize your Meetup.com group growth over time.')
        meta(name='keywords' content='meetup, growth, visual, graph')
        meta(name='author' content='Luke Segars')
        link(rel='stylesheet', href='css/style.css')
        script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.js')
        script(type='text/javascript' src='js/bundle.js')
    body
        header
            h1 #[a(href='/') METUS]
            input(type='text', id='who', placeholder='Meetup name')
            datalist(id='data')
        div(id='content')
            div(id='graph' class='ct-major-tenth')
        footer
            p #[a(href='https://github.com/anyweez') Written by @anyweez and hosted on Github.]